<!DOCTYPE html>
<html>
<head>
<title>关系图测试</title>

<meta name="keywords" content="keyword1,keyword2,keyword3">
<meta name="description" content="this is my page">
<meta name="content-type" content="text/html; charset=UTF-8">

<!--<link rel="stylesheet" type="text/css" href="./styles.css">-->
</head>

<body>
	<script src="js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="js/dracula/dracula.min.js"></script>
	<script type="text/javascript">
		window.onload = function() {
			var width = 400; //定义宽度，也可以为 var width=$('#div').width()
			var height = 500; //定义高度
			var g = new Graph();
			g.edgeFactory.template.style.directed = true; //设置链接之间是否有箭头
			//以下为定义任务关系
			g.addEdge("张三", "李四");
			g.addEdge("张三", "王五");
			g.addEdge("张三", "二麻子");
	
			g.addEdge("李四", "李颖");
			g.addEdge("李四", "李英");
	
			g.addEdge("王五", "李海男");
			g.addEdge("王五", "张笑");
	
			var layouter = new Graph.Layout.Spring(g);
			layouter.layout();
	
			var renderer = new Graph.Renderer.Raphael('canvas', g, width, height);
			renderer.draw();
		}
	</script>
</body>
</html>